<h3>Found Items:</h3>
<ul class="list-group">
  <li ng-repeat="item in foundItemsDirCtrl.found" class="list-group-item">
    <strong>{{item.name}}</strong> <span class="label label-default">{{item.short_name}}</span><br>
    <i>{{item.description}}</i><br>
    <button class="btn btn-xs btn-danger" ng-click="foundItemsDirCtrl.onRemove({index: $index})">
      Don't want this one! 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </li>
</ul>
<div ng-if="foundItemsDirCtrl.msg.length > 0" class="alert alert-warning" role="alert">{{foundItemsDirCtrl.msg}}</div>
